// color palette
$brightblue: #73bfe5;
$lightblue: #b8e5f5;
$brightgreen: #45a632;
$lightgreen: #75d96c;
$chocolate: #403c30;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $lightblue;
}
